extends ../layouts/common.pug

block content
    h1 Users 
    if err
        .alert.alert-danger= err
    form(action="/users/create", method="post")
        label(for="input-users") Name
        input#input-users(type="text", name="name")
        label(for="input-users-email") Email
        input#input-users-email(type="text", name="email")
        label(for="input-users-pass") Password
        input#input-users-pass(type="password", name="password")
        button(type="submit") Create
